<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Crypto Data</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Get Crypto Data</h1>
    <form action="/crypto">
        <select name="crypto" id="crypto" placeholder="Select a Crypto">
            <option value="BTCUSDT">BTCUSDT</option>   
            <option value="ETHUSDT">ETHUSDT</option>   
            <option value="XRPUSDT">XRPUSDT</option>   
            <option disabled>---------</option> 
        {% for symbol in symbols %}
            <option value="{{ symbol }}">{{ symbol }}</option>
        {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>